@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** style design local **/
:root {
    --bg-primary: #2A272A;
 /*   --bg-secondary: #2A272A;*/
    --color-primary: #FFFFFF;
    --color-secondary: #d2d2d2;
    --color-secondary-2: #101010;
}
* {
  box-sizing: border-box;
}


/*** navbar start ***/
.navbar {
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding-block: 15px !important;
}
.nav-logo {
  font-size: .8em;
}
.navbar-toggler {
  background: #FFFFFF !important;
  border-radius: 0 !important;
}
.navbar-toggler:focus, .navbar-toggler:hover {
  box-shadow: 0 0 0 !important;
}
.navbar-toggler-icon {
  color: #000000 !important;
}
.navbar-nav {
  padding-block: 10px;
  gap: 10px;
}
.navbar-collapse {
  color: white !important;
}
.nav-link.active {
  color: #FFFFFF !important;
}
 .nav-link {
  color: #8e8e8e !important;
  font-weight: 600;
}
/*** navbar end ***/




/** main content style **/
main {
  width: 100%;
  height: auto;
  padding-top: 10px;
  overflow: hidden;
}
.pi-30 {
  padding-inline:30px;
}
.mi-30 {
  margin-inline:30px;
}
.fz-05 {
  font-size: .8em;
}
.fz-1 {
  font-size: 1em;
}
.fz-2 {
  font-size: 2em;
}
.fz-3 {
  font-size: 3em;
}

/** main content style **/



/*** home style start ***/
/*media sm */
@media screen and (max-width:368px) {
  .box-service {
    width: 250px;
  }
}

/* media md */
@media screen and (min-width:368px) {
}
/* media lg*/
@media screen and (min-width:768px) {
.contain-welcome {
  flex-direction: row !important;
}
  .box-service {
    width: 300px !important;
  }
.contain-text-welcome {
  width: 50% !important;
  margin-left: 100px !important;
}
}
.box-service {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
}
/*** home style ending ***/



/** service project start **/
@media screen and (min-width:768px) {
  .scroll-project {
    overflow-x: hidden !important;
  }
}
/** service project end **/



/** about us start **/
        .scroll-container{
          width: 100%;
          overflow-x: auto;
         
        }
        .scroll-container-outer{
          width: max-content;
          overflow-x: auto;
          white-space: nowrap;
        }
        .scroll-container-inner{
          white-space: normal;
        }
        .scroll-box{
          width: 320px;
          height: auto;
          background: rgba(0, 0, 0, 0.404);
          margin: 10px;
          color: white;
          display: inline-block;
          padding-bottom: 20px;
          border-radius: 30px;
        }
        .gradient-blue{
          background: linear-gradient(to bottom right, #4e6bff 0%, #a0d8ff 100%);
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin-left: auto;
          margin-top: 5px;
          margin-right: 5px;
        }
        .text-informasi{
          width: 90%;
          margin-left: 15px;
          margin-top: 10px;
          
        }

/** about us end*/



/** contact us start **/
        .contact-form {
          background: transparent;
            color: #fff;
            padding: 30px;
            border-radius: 10px;
            margin-top: 100px;
        }
        
        .gradient-button {
            background-image: linear-gradient(to right, #445dec, #6f0ed6);
            color: rgb(42, 48, 214);
            border: none;
        }
/** contact us end **/




/*** footer ***/
footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  padding-block: 25px;
  width: 100%;
  height: auto;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(85,85,85,1) 100%);
}